@model SimpleLibraryWebsite.Models.ViewModels.BookBorrowViewModel

@{
    ViewBag.Title = "Borrow a book";
}

<h1>@ViewBag.Title</h1>
<h3>Are you sure you want to borrow this book?</h3>

<div>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedBook.Author)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedBook.Author)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedBook.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedBook.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BorrowedBook.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BorrowedBook.Genre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>
    </dl>
    
    <form asp-action="Borrow">
        <input type="submit" value="Borrow" asp-route-id="@Model.BorrowedBook.BookId" class="btn-primary" />
        <a href="#" onclick="history.go(-1); return false;">Back</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
