@model SimpleLibraryWebsite.Models.ViewModels.BookBorrowViewModel

@{
    ViewBag.Title = "Borrow a book";
}

<h1>@ViewBag.Title</h1>
<h3>Are you sure you want to borrow this book?</h3>

<div clas="justify-content-md-center">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center">
        <b class = "col-sm-2 center">
            @Html.DisplayNameFor(model => model.BorrowedBook.Author):
        </b>
        <div class = "col-sm-4 center">
            @Html.DisplayFor(model => model.BorrowedBook.Author)
        </div>
        <div class="w-100"></div>
        <b class = "col-sm-2 center">
            @Html.DisplayNameFor(model => model.BorrowedBook.Title):
        </b>
        <div class = "col-sm-4 center">
            @Html.DisplayFor(model => model.BorrowedBook.Title)
        </div>
        <div class="w-100"></div>
        <b class = "col-sm-2 center">
            @Html.DisplayNameFor(model => model.BorrowedBook.Genre):
        </b>
        <div class = "col-sm-4 center">
            @Html.DisplayFor(model => model.BorrowedBook.Genre)
        </div>
        <div class="w-100"></div>
        <b class = "col-sm-2 center">
            @Html.DisplayNameFor(model => model.ReturnDate):
        </b>
        <div class = "col-sm-4 center">
            @Html.DisplayFor(model => model.ReturnDate)
        </div>
        <div class="w-100"></div>
    </div>
    

    <form asp-action="Borrow">
        <div class="container" style="text-align: center; margin-top: 25px">
            <a href="#" onclick="history.go(-1);return false;" class="btn btn-secondary">Back</a>
            <input type="submit" value="Borrow" asp-route-id="@Model.BorrowedBook.BookId" class="btn btn-success"/>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
