@model SimpleLibraryWebsite.Models.BookGenreViewModel

@{
    ViewData["Title"] = "Book list";
}

    <h1>Book list</h1>

<p>Here you can view and search for books.</p>

<form asp-controller="Books" asp-action="Index" method="get">
    <p>
        <select asp-for="BookGenre" asp-items="Model.Genres">
            <option value="">All</option>
        </select>

        Title:
        <input type="text" asp-for="BookTitle" value="@ViewData["CurrentFilter"]"/>
        <input type="submit" value="Filter" />
    </p>
</form>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["AuthorSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                 @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Author)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                 @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Title)
            </a>
        </th>
        <th>@Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Genre)
        </th>

    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PaginatedList) {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>@Html.DisplayFor(modelItem => item.Genre)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    string prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>