@model SimpleLibraryWebsite.Models.Loan

@{
    ViewBag.Title = "Details";
}

<h1>@ViewBag.Title</h1>

<div class="justify-content-md-center">
    <hr />
    <div class="row justify-content-center">
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Book.Title)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Book.Title)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Book.Author)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Book.Author)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.LentFrom)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.LentFrom)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.LentTo)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.LentTo)
        </div>
        <div class="w-100"></div>
    </div>
</div>

<div class="container center" style="margin-top: 25px">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>