@model SimpleLibraryWebsite.Models.Book
@using Microsoft.AspNetCore.Authorization
@using SimpleLibraryWebsite.Services.Authorization
@inject IAuthorizationService _authorizationService

@{
    ViewBag.Title = "Details";
}

<h1>@ViewBag.Title</h1>


<div clas="justify-content-md-center">
    <hr />
    <div class="row justify-content-center">
        <b class="col-sm-2 center">@Html.DisplayNameFor(model => model.Author)
        </b>
        <div class="col-sm-4 center">@Html.DisplayFor(model => model.Author)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">@Html.DisplayNameFor(model => model.Title)
        </b>
        <div class="col-sm-4 center">@Html.DisplayFor(model => model.Title)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">@Html.DisplayNameFor(model => model.Genre)
        </b>
        <div class="col-sm-4 center">@Html.DisplayFor(model => model.Genre)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">@Html.DisplayNameFor(model => model.DateOfAdding)
        </b>
        <div class="col-sm-4 center">@Html.DisplayFor(model => model.DateOfAdding)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">@Html.DisplayNameFor(model => model.IsBorrowed)
        </b>
        <div class="col-sm-4 center">@Html.DisplayFor(model => model.IsBorrowed)
        </div>
        <div class="w-100"></div>
    </div>
</div>

<div class="container center" style="margin-top: 25px">
    <a href="#" onclick="history.go(-1);return false;" class="btn btn-secondary">Back</a>
    @if ((await _authorizationService.AuthorizeAsync(
        User, Model,
        Operations.Update)).Succeeded)
    {
        <a asp-action="Edit" asp-route-id="@Model.BookId" class="btn btn-warning">Edit</a>
    }

    @if ((await _authorizationService.AuthorizeAsync(
        User, Model,
        Operations.Borrow)).Succeeded)
    {
        @if (!Model.IsBorrowed)
        {
            <a asp-action="Borrow" asp-route-id="@Model.BookId" class="btn btn-success">Borrow</a>
        }
    }
</div>
