@model SimpleLibraryWebsite.Models.Request

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Author)
        </dd>
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.NumberOfUpvotes)
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.NumberOfUpvotes)
        </dd>
        <dt class="col-sm-4">@Html.DisplayName("Adding reader name")
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Reader.Name)
        </dd>
        <dt class="col-sm-4">@Html.DisplayName("Adding reader surname")
        </dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Reader.Surname)</dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.RequestId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
