@using System.Linq
@model SimpleLibraryWebsite.Models.RequestViewModel

@{
    ViewData["Title"] = "Book requests";
}

<h1>Book requests</h1>

<p>
    Here you can view requests submitted by other users. 
    <br />
    Feel free to add new requests and view others requests.
</p>

<form asp-controller="Requests" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader name:</b>
                    <input type="text" asp-for="ReaderName" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader surname:</b>
                    <input type="text" asp-for="ReaderSurname" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Book title:</b>
                    <input type="text" asp-for="BookTitle" />
                </div>
            </div>
        </div>
        <input type="submit" value="Filter" />
    </div>
</form>

<br />
<a asp-action="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortorder="@Html.ViewData["TitleSortParam"]">
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Title)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortorder="@Html.ViewData["AuthorSortParam"]">
                    @Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Author)
                </a>
            </th>
            <th>@Html.DisplayNameFor(model => model.Requests.FirstOrDefault().Genre)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Requests)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>@Html.DisplayFor(modelItem => item.Genre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.RequestID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.RequestID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.RequestID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
