@model SimpleLibraryWebsite.Models.LoanViewModel

@{
    ViewData["Title"] = "List of loans";
}

<h1>Book loans</h1>

<p>Here you can see all book loans.</p>
    
<form asp-controller="Loans" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader name:</b>
                    <input type="text" asp-for="ReaderName" value="@ViewData["CurrentNameFilter"]"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader surname:</b>
                    <input type="text" asp-for="ReaderSurname" value="@ViewData["CurrentSurnameFilter"]"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Book title:</b>
                    <input type="text" asp-for="BookTitle" value="@ViewData["CurrentTitleFilter"]" />
                </div>
            </div>
        </div>

        <input type="submit" value="Filter" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]" 
               asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
               asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
               asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]">
                @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Book.Title)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderNameSortParam"]"
               asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
               asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
               asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]">
                @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Reader.Name)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderSurnameSortParam"]"
               asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
               asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
               asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]">
                @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Reader.Surname)
            </a>
        </th>
        <th>
            <a asp-action="Index" asp-route-sortOrder="@ViewData["LentToSortParam"]"
               asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
               asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
               asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]">
                @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().LentTo)
            </a>
        </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.PaginatedList) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LentTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

@{
    string prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)"
   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
   asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)"
   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
   asp-route-currentTitleFilter="@ViewData["CurrentTitleFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>