@model SimpleLibraryWebsite.Models.LoanViewModel

@{
    ViewData["Title"] = "List of loans";
}

<h1>Book loans</h1>

<p>Here you can see all book loans.</p>
    
<form asp-controller="Loans" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader name:</b>
                    <input type="text" asp-for="ReaderName" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader surname:</b>
                    <input type="text" asp-for="ReaderSurname" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Book title:</b>
                    <input type="text" asp-for="BookTitle" />
                </div>
            </div>
        </div>
        <input type="submit" value="Filter" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TitleSortParam"]">
                    @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().Book.Title)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderNameSortParam"]">
                    @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().Reader.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderSurnameSortParam"]">
                    @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().Reader.Surname)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["LentToSortParam"]">
                    @Html.DisplayNameFor(model => model.Loans.FirstOrDefault().LentTo)
                </a>
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Loans) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Book.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reader.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LentTo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LoanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LoanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LoanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
