@model SimpleLibraryWebsite.Models.Loan

@{
    ViewBag.Title = "Return a book";
}

<h1>@ViewBag.Title</h1>
<h3>Are you sure you want to return this book?</h3>


<div class="justify-content-md-center">
    <hr/>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row justify-content-center">
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Book.Author)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Book.Author)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Book.Title)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Book.Title)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Book.Genre)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Book.Genre)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Reader.FirstName)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Reader.FirstName)
        </div>
        <div class="w-100"></div>
        <b class="col-sm-2 center">
            @Html.DisplayNameFor(model => model.Reader.LastName)
        </b>
        <div class="col-sm-4 center">
            @Html.DisplayFor(model => model.Reader.LastName)
        </div>
        <div class="w-100"></div>
    </div>

    

    <form asp-action="Return" class="container" style="text-align: center; margin-top: 25px">
        <input type="submit" value="Return" asp-route-id="@Model.LoanId" class="btn btn-return" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}