@model SimpleLibraryWebsite.Models.ReaderViewModel

@{
    ViewData["Title"] = "List of readers";
}

<h1>List of readers</h1>
    
<p>
    Below you can view the list of readers.
</p>
    
<form asp-controller="Readers" asp-action="Index" method="get">
    <div class="container">
        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader name:</b>
                    <input type="text" asp-for="ReaderName" value="@ViewData["CurrentNameFilter"]"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <div class="col-md-8">
                    <b>Reader surname:</b>
                    <input type="text" asp-for="ReaderSurname" value="@ViewData["CurrentSurnameFilter"]"/>
                </div>
            </div>
        </div>

        <input type="submit" value="Filter" />
    </div>
</form>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderNameSortParam"]"
                   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
                   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]">
                    @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ReaderSurnameSortParam"]"
                   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
                   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"> 
                    @Html.DisplayNameFor(model => model.PaginatedList.FirstOrDefault().Surname)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.PaginatedList) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReaderId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReaderId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReaderId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@{
    string prevDisabled = !Model.PaginatedList.HasPreviousPage ? "disabled" : "";
    string nextDisabled = !Model.PaginatedList.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex - 1)"
   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PaginatedList.PageIndex + 1)"
   asp-route-currentNameFilter="@ViewData["CurrentNameFilter"]"
   asp-route-currentSurnameFilter="@ViewData["CurrentSurnameFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>